python -m pip install --upgrade pip
plotly
matplotlib
seaborn
scikit-learn
google-generativeai  
scipy
streamlit
pandas
numpy
umap-learn
requests
sqlite3
speechrecognition
gTTS
playsound
requests
seaborn
scikit-learn
scipy
umap-learn

